:root {
    --color_green: #04D361;
    --color_blue: #899BFF;
    --color_red: #FF3E3E;
    --color_dark: #0C0C0C;
    --color_dark_200: #212529;
    --color_gray: #AEAEAE;
    --color_light: #F9F9F9;
    --color__bg: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color__bg);
    color: var(--color_light);
    font-family: Inter, sans-serif;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo a {
    text-decoration: none;
    font-size: 36px;
    color: var(--color_light);
    border: 0;
}

.btn {
    width: 190px;
    height: 60px;
}

.btn__comprar{
    border: 2px solid var(--color_blue);
    background-color: transparent;
    border-radius: 6px;
    color: var(--color_light);
}